[submodule "Friendly-Skeleton-Wand.wiki"]
	path = Friendly-Skeleton-Wand.wiki
	url = git@github.com:jpw1991/Friendly-Skeleton-Wand.wiki.git
[submodule "chebs-necromancy-unity"]
	path = chebs-necromancy-unity
	url = git@github.com:jpw1991/chebs-necromancy-unity.git
