<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.AssemblyPublicizer.MSBuild" version="0.4.1" targetFramework="net48" developmentDependency="true" />
  <package id="ChebsValheimLibrary" version="2.5.3" targetFramework="net48" />
  <package id="HarmonyX" version="2.10.2" targetFramework="net48" />
  <package id="JotunnLib" version="2.16.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.11.5" targetFramework="net48" />
  <package id="MonoMod" version="22.7.31.1" targetFramework="net48" />
  <package id="MonoMod.RuntimeDetour" version="25.0.2" targetFramework="net48" />
  <package id="MonoMod.Core" version="1.0.1" targetFramework="net48" />
  <package id="MonoMod.Utils" version="25.0.3" targetFramework="net48" />
  <package id="MonoMod.Backports" version="1.0.1" targetFramework="net48" />
  <package id="MonoMod.ILHelpers" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="7.0.0-preview.2.22152.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>